@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #E5E5E5;
  background-image: url("bg.jpg");
}

#card-front {
  color: #E3F2FD;
  z-index: 10;
}

#card, #card-front, #card-inside {
  height: 580px;
}

.wrap {
  padding: 1.5em 2.5em;
  height: 100%;
}

#card-front, #card-inside {
  width: 50%;
  box-shadow: 2px 2px 30px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.5);
  position: absolute;
  left: 50%;
}

#card-inside .wrap {
  background: #E3F2FD;
  box-shadow: inset 2px 0 1px rgba(0,0,0,.05);
}

#card {
  width: 960px;
  margin: auto;
  transform-style: preserve-3d;
  perspective: 5000px;
  transform: translateX(-25%);
  transition: transform 1s ease-in-out;
  position: absolute;
  top:0;bottom:0;right:0;left:0;
}

#card h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-style: italic;
  font-size: 70px;
  text-shadow:4px 4px 0 rgba(0,0,0,.15),1px 1px 0 #b3e5fc,2px 2px 0 #81d4fa,3px 3px 0 #4fc3f7;
  color:#FFF;
}

#card-inside {
  font-size:1.3em;
  line-height:1.4;
  font-family:'Lobster';
  color:#0d3c61;
  font-style:italic;
}

p{margin-top:1em;}
p:first-child{margin-top:0;}

p.signed{
  margin-top:1em;
  text-align:center;
  font-family:'Indie Flower',cursive;
  font-weight:bold;
  font-size:.75em;
}

/* ==== COLOR AZUL CIELO PRINCIPAL ==== */
#card-front {
  background-color:#87CEEB;
  background-image:linear-gradient(to bottom,#87CEFA 0%,#4FC3F7 100%);
  transform-origin:left;
  transition:transform 1s linear;
  position:relative;
  transform-style:preserve-3d;
  perspective:5000px;
}

#card-front:before{
  position:absolute;
  top:0;bottom:0;left:0;right:0;
  display:block;
  background-color:#444;
  transform:translateZ(-1px);
}

#card-front .wrap{
  transition:background 1s linear;
  backface-visibility:hidden;
}

#card-front button{
  position:absolute;
  bottom:1em;
  right:-12px;
  background:#4FC3F7;
  color:#FFF;
  font-family:'Lobster',cursive;
  font-style:italic;
  font-weight:bold;
  font-size:1.5em;
  padding:.5em;
  border:none;
  cursor:pointer;
  box-shadow:2px 2px 3px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.4);
}

#card-front button:hover,
#card-front button:focus{
  background:#29B6F6;
}

#close{display:none;}

#card.open-fully{transform:translateX(0%);}

#card.open-fully #close,
#card-open-half #close{display:inline;}

#card.open-fully #open{display:none;}

#card.open-half #card-front,
#card.close-half #card-front{
  transform:rotateY(-90deg);
}

#card.open-half .shadow{
  background-color:rgba(0,0,0,.5);
}

/* ==== COLOR CUANDO SE ABRE ==== */
#card.open-fully #card-front,
#card.close-half #card-front{
  background:#E3F2FD;
}

#card.open-fully #card-front{
  transform:rotateY(-180deg);
}

#card.open-fully .shadow{
  background-color:rgba(0,0,0,0);
}

footer{
  max-width:500px;
  margin:40px auto;
  font-family:'Lobster',cursive;
  font-size:14px;
  line-height:1.6;
  color:#888;
  text-align:center;
}

.text{
  color:#0d47a1;
  font-family:'Lobster',cursive;
  font-weight:300;
  font-style:italic;
  text-align:center;
}

.card-front_inside{
  position:absolute;
  top:0;bottom:0;left:0;right:0;
  height:70%;
  width:80%;
  margin:auto;
  backface-visibility:hidden;
  transform:translateZ(-1px) rotateY(180deg);
  background-color:#E3F2FD;
}

.shadow{
  position:absolute;
  top:0;bottom:0;left:0;right:0;
  backface-visibility:hidden;
  transform:translateZ(-2px) rotateY(180deg);
  pointer-events:none;
  transition:background 1s linear;
}

.wishesFont{
  font-family:'Indie Flower',cursive;
  font-weight:800;
}

.wishesFont p{
  font-size:16px;
}
